  body {
    background-color: #333333;
    color: white;
  }

  a {
    color: lightskyblue;
  }

  .list {
    size-adjust: 8;
    color: deepskyblue;
  }


  .add {
    size-adjust: 15;
  }

  .hoverBig:hover {
    scale: 1.15;
  }

  a:hover {
    color: lightgreen;
  }